
/*Contains CSS that affects the logo, tan div and buttons found on all pages*/

body{
    background: linear-gradient(135deg, rgb(0 48 73) 0%, rgb(102 155 188) 100%);
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    overflow: hidden;
}

.logo-container {
    text-align: center;
    position: fixed;
    margin-bottom: 675px;
}

.logo-container img {
    width: 200px; 
}


.index-el {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color:#EAE2B7 ;
    height: 620px;
    box-shadow: 0px 9px 20px 5px #d2caa2;
}

button {
    background-color: #FCBF49;
    border: none;
    padding: 13px 40px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 20px;
}

.headingsection {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}




/*CSS affecting 1index*/


.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}


#headingsection1 {
    font-size: 25px;
    text-shadow: 1px 0px 11px #908a6d
}

.image-container1 img {
   width: 350px;
   padding: 5px;
}


.image-container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


/*CSS affecting 2newUserPage*/


.image-container2 img {
    width: 850px;
    padding: 5px;
 }
 
 
.image-container2 {
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }


/*CSS affecting 3userLoginPage*/


.form3 {
    margin-top: 180px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form3 input {
    height: 10px;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
    box-shadow: 0px 5px 0px 5px #b0aa8b;
}

.form3 button {
    margin-top: 40px;
    width: 340px;
}



/*CSS affecting 4volunteerSignUpPage*/

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

form label {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input {
    height: 10px;
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}
form select {
    padding: 8px;
    margin-top: 2px;
    border: none;
    width: 315px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    border: none;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





/*CSS affecting 5WelcomeSignUpPage*/

#headingsection5 {
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 80px;
}

#headingsection5 h1{
    font-weight: 100;
}

#newNameEntry {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#newIdEntry {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#newDateEntry {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}



/*CSS affecting 6WelcomePage*/

#headingsection6 {
    font-size: 30px;
    text-align: center;
    padding: 50px;
    line-height: 70px;
    font-weight: normal;
}





/*CSS affecting 7WelcomeBackUserPage*/

#headingsection7 {
    margin-top: 140px;
    margin-bottom: 80px;
}


#user-name {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#user-id {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

#headingsection7 h1 {
    font-weight: 200;
} 


/*Admin Table CSS*/

.adminTable-container {
    margin-top: 5px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#adminData-table {
    border: black solid 2px;
    border-collapse: collapse;
}

#adminData-table th {
    background-color: #fcbf49;
    padding: 10px;
    text-align: center;
}

#adminData-table tbody {
color: black;
background-color: #dcd08f;
text-align: center;
}

#adminData-table td {
    padding: 9px;
    border: black solid 2px;
   
}

.adminButton-container {
    display: flex;
    justify-content: center;
}

.pageupdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

