
/*Contains CSS that affects the logo, tan div and buttons found on all pages*/

body{
    background: linear-gradient(135deg, rgb(0 48 73) 0%, rgb(102 155 188) 100%);
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    overflow: hidden;
}

#index-el {
    width: 100vw;
    margin-top: 50px;
    background-color:#EAE2B7 ;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.logo-container {
    text-align: center;
    position: fixed;
    margin-bottom: 660px;
}

.logo-container img {
    width: 200px; 
 
}

button {
    background-color: #FCBF49;
    border: none;
    padding: 13px 40px;
    border-radius: 8px;
    margin: 20px;
    margin-top: 200px;
    font-family: "Roboto", sans-serif;
}

.button-container {
    display: flex;
    justify-content: center ;
}

/*CSS affecting 1index*/

.headingsection h1 {
    display: flex;
    font-family: "Roboto", sans-serif;

}




.image-container img {
    width: 250px;
    height: 200px;
    margin-left: 10px;
}




input {
    padding: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 230px;
}